html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper__header {
  width: 345px;
  margin: 0 auto; }

.wrapper__main,
.wrapper__footer {
  width: 315px;
  margin: 0 auto; }

header {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%); }
  header::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 45px;
    background: rgba(245, 245, 250, 0.2);
    z-index: 5; }
  header .header__container {
    height: 600px;
    background: url(../img/symbol.png) center center no-repeat;
    background-size: 523px; }
  header .header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 10px; }
    header .header__contact .active {
      border-radius: 8px;
      background: #F0145A; }
      header .header__contact .active a {
        color: #fff; }
    header .header__contact ul {
      display: flex;
      text-transform: uppercase; }
      header .header__contact ul li {
        padding: 5px 7px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        z-index: 5; }
        header .header__contact ul li:hover {
          border-radius: 8px;
          background: #F0145A; }
          header .header__contact ul li:hover a {
            color: #fff; }
        header .header__contact ul li a {
          color: #fff; }
    header .header__contact .header__address {
      display: none; }
    header .header__contact .header__telephone {
      position: relative;
      z-index: 10; }
      header .header__contact .header__telephone a {
        color: #fff; }
    header .header__contact .header__facebook {
      display: none; }
  header .header__logo-burger {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header__logo-burger .header__logo {
      position: relative;
      width: 169px;
      height: 57px;
      background: url(../img/logo-services.png) no-repeat; }
    header .header__logo-burger .burger {
      width: 32px;
      height: 32px;
      outline: none;
      border: none;
      background: url(../img/hamburger.png) no-repeat;
      cursor: pointer; }
  header .header__menu {
    display: none; }
  header h1 {
    margin: 0 auto;
    position: relative;
    top: 131px;
    color: #FFF;
    text-align: center;
    font-size: 38px;
    line-height: 46px; }

main .main__container {
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643E72 100%); }
  main .main__container .wrapper__main .header__srcoll {
    text-align: center;
    position: relative;
    bottom: 72px; }
  main .main__container .wrapper__main .main__tabs {
    position: relative;
    bottom: 11px;
    overflow: hidden; }
    main .main__container .wrapper__main .main__tabs::after {
      content: '';
      display: block;
      width: 311px;
      border: 2px solid rgba(255, 255, 255, 0.3); }
    main .main__container .wrapper__main .main__tabs ul {
      display: flex;
      gap: 30px;
      padding-bottom: 34px;
      width: 1003px; }
      main .main__container .wrapper__main .main__tabs ul li {
        text-align: right;
        font-size: 30px;
        color: #B3B3BA; }
      main .main__container .wrapper__main .main__tabs ul .active {
        background-image: linear-gradient(#EF8080, #F0145A);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
  main .main__container .wrapper__main .idea {
    margin-top: 18px;
    margin-bottom: 29px;
    line-height: normal; }
    main .main__container .wrapper__main .idea h2 {
      margin-bottom: 31px;
      color: #FFF;
      font-size: 20px; }
    main .main__container .wrapper__main .idea p {
      color: #FFF;
      font-size: 19px;
      font-weight: 400;
      line-height: 30px; }
  main .main__container .wrapper__main .services {
    padding-bottom: 59px; }
    main .main__container .wrapper__main .services a {
      color: #24A3FF;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase; }
    main .main__container .wrapper__main .services h2 {
      margin-top: 9px;
      font-size: 30px;
      line-height: normal; }
    main .main__container .wrapper__main .services .service__items {
      display: flex;
      flex-direction: column;
      gap: 29px;
      margin-top: 30px; }
      main .main__container .wrapper__main .services .service__items img {
        margin-bottom: 27px; }
      main .main__container .wrapper__main .services .service__items h4 {
        width: 304px;
        color: #24A3FF;
        font-size: 22px;
        line-height: normal;
        margin-bottom: 16px; }
      main .main__container .wrapper__main .services .service__items p {
        color: #FFF;
        font-weight: 400;
        line-height: 26px; }
main .wrapper__main .teams {
  border-radius: 12px;
  background: #F5F5FA;
  margin-top: 50px; }
  main .wrapper__main .teams .team-img {
    width: 315px;
    height: 500px;
    background: url(../img/teams/oleksandr.png) center center no-repeat; }
  main .wrapper__main .teams .team {
    padding: 30px; }
    main .wrapper__main .teams .team a {
      color: #24A3FF;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase; }
    main .wrapper__main .teams .team h3 {
      margin-top: 4px;
      margin-bottom: 31px;
      font-size: 30px;
      line-height: normal;
      background: linear-gradient(#F0145A, #EF8080);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; }
    main .wrapper__main .teams .team .name {
      margin-bottom: 5px;
      color: #B3B3BA;
      line-height: 20px; }
    main .wrapper__main .teams .team .position {
      color: #B3B3BA;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px; }
main .wrapper__main .pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px; }
  main .wrapper__main .pagination .elipse__active {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/elipse/ellipse-active.png) center center no-repeat; }
  main .wrapper__main .pagination .elipse {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/elipse/ellipse.png) center center no-repeat; }
main .wrapper__main .trust {
  margin-top: 60px; }
  main .wrapper__main .trust h3 {
    color: #323264;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center; }
main .clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }
  main .clients .hillel {
    display: flex;
    justify-content: center;
    padding: 36px 78px 36px 80px;
    background: #1C4280; }
  main .clients .wanna-biz {
    display: flex;
    justify-content: center;
    padding: 43px 87px 44px 89px;
    background: #143646; }
  main .clients .tapgerine {
    display: flex;
    justify-content: center;
    padding: 38px 97px 38px 99px;
    background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30; }
  main .clients .look {
    display: flex;
    justify-content: center;
    padding: 39px 97px 39px 98px;
    background: #9E4DC3; }
  main .clients .orangear {
    display: flex;
    justify-content: center;
    padding: 38px 100px 38px 101px;
    background: #FD9339; }
  main .clients .adtelli {
    display: flex;
    justify-content: center;
    padding: 36px 89.583px 36px 90.625px;
    background: #E2E2E4; }
  main .clients .clickky,
  main .clients .easing,
  main .clients .infratek,
  main .clients .park,
  main .clients .art-print,
  main .clients .card {
    display: none; }
main .contaiter__publications {
  padding-bottom: 32px;
  padding-top: 30px;
  background: #F5F5FA; }
  main .contaiter__publications .publications a {
    color: var(--active-regular, #24A3FF);
    font-size: 14px;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase; }
  main .contaiter__publications .publications h3 {
    margin-top: 3px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: normal;
    background: linear-gradient(#F0145A, #EF8080);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  main .contaiter__publications .publications__items {
    display: flex;
    flex-direction: column;
    gap: 30px; }
    main .contaiter__publications .publications__items .gdpr .information h4 {
      position: relative;
      bottom: 2px;
      margin-bottom: 12px;
      line-height: 20px; }
    main .contaiter__publications .publications__items .equity,
    main .contaiter__publications .publications__items .gdpr,
    main .contaiter__publications .publications__items .millennial {
      border-radius: 8px;
      background: #FFF; }
    main .contaiter__publications .publications__items .equity__img {
      margin-bottom: 3px;
      width: 315px;
      height: 201px;
      background: url(../img/publications/equity.png) center center no-repeat; }
    main .contaiter__publications .publications__items .gdpr__img {
      margin-bottom: 3px;
      width: 315px;
      height: 200px;
      background: url(../img/publications/gdpr.png) center center no-repeat; }
    main .contaiter__publications .publications__items .millenial__img {
      margin-bottom: 3px;
      width: 315px;
      height: 200px;
      background: url(../img/publications/millennial.png) center center no-repeat; }
    main .contaiter__publications .publications__items .information {
      padding: 30px; }
      main .contaiter__publications .publications__items .information h4 {
        margin-bottom: 16px;
        color: #24A3FF; }
      main .contaiter__publications .publications__items .information .date {
        margin-bottom: 30px;
        color: #B3B3BA;
        font-size: 12px;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase; }
        main .contaiter__publications .publications__items .information .date::after {
          content: '';
          display: block;
          position: relative;
          top: 15px;
          width: 252px;
          border: 2px solid #E6E6F0; }
      main .contaiter__publications .publications__items .information .description {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px; }

footer {
  padding: 30px;
  background: #F5F5FA; }
  footer .footer__container {
    margin-top: 3px; }
    footer .footer__container .footer__address {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 22px; }
      footer .footer__container .footer__address p {
        margin-bottom: 12px;
        color: #323264;
        font-weight: 400; }
      footer .footer__container .footer__address a {
        color: #24A3FF;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase; }
    footer .footer__container .footer__contact {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footer__container .footer__contact a {
        margin-bottom: 11px; }
      footer .footer__container .footer__contact .footer__telephone {
        margin-bottom: 12px;
        color: #46466E;
        text-align: right; }
      footer .footer__container .footer__contact .footer__email {
        display: flex;
        align-items: center;
        width: 204px;
        height: 20px;
        margin-bottom: 30px;
        color: #24A3FF; }
    footer .footer__container .footer__copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      color: #B3B3BA;
      font-weight: 400;
      text-align: center; }

@media screen and (min-width: 768px) {
  .wrapper__header,
  .wrapper__main,
  .wrapper__footer {
    width: 648px;
    margin: 0 auto; }

  header::before {
    display: none; }
  header .header__container {
    height: 1024px;
    background: url(../img/symbol.png) center center no-repeat;
    background-size: 893px; }
  header .header__contact {
    justify-content: unset;
    gap: 6px;
    padding-top: 51px; }
    header .header__contact .header__address p,
    header .header__contact .header__telephone a,
    header .header__contact .header__facebook {
      display: flex; }
      header .header__contact .header__address p::before,
      header .header__contact .header__telephone a::before,
      header .header__contact .header__facebook::before {
        content: '';
        position: relative;
        top: 4px;
        right: 1px;
        margin-right: 6px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background: #E6E6F0; }
    header .header__contact .header__address {
      display: flex;
      font-weight: 400;
      color: #B3B3BA; }
    header .header__contact .header__facebook {
      position: relative;
      left: 12px;
      bottom: 2px;
      width: 24px;
      height: 24px;
      background: url(../img/tablet/facebook.png) no-repeat; }
      header .header__contact .header__facebook::before {
        top: 10px;
        right: 11px; }
  header .header__logo-burger .header__logo {
    margin-top: 20px;
    margin-bottom: 33px;
    width: 130px;
    height: 60px;
    background: url(../img/logo-homepage.png) no-repeat; }
  header .header__logo-burger .burger {
    display: none; }
  header .header__menu {
    display: block;
    height: 25px; }
    header .header__menu ul {
      display: flex;
      gap: 16px; }
      header .header__menu ul a {
        color: #FFF; }
  header h1 {
    top: 267px; }

  main .main__container .wrapper__main .main__tabs {
    top: 20px;
    bottom: 0; }
    main .main__container .wrapper__main .main__tabs::after {
      width: 648px; }
    main .main__container .wrapper__main .main__tabs ul {
      padding-bottom: 63px;
      width: 1246px; }
      main .main__container .wrapper__main .main__tabs ul li {
        font-size: 38px; }
  main .main__container .wrapper__main .idea {
    margin-top: 80px;
    margin-bottom: 59px; }
    main .main__container .wrapper__main .idea h2 {
      font-size: 30px; }
  main .main__container .wrapper__main .services h2 {
    font-size: 38px; }
  main .main__container .wrapper__main .services .service__items {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 58px; }
    main .main__container .wrapper__main .services .service__items .ecommerce,
    main .main__container .wrapper__main .services .service__items .support,
    main .main__container .wrapper__main .services .service__items .relationships,
    main .main__container .wrapper__main .services .service__items .building,
    main .main__container .wrapper__main .services .service__items .property,
    main .main__container .wrapper__main .services .service__items .representation {
      width: 294px; }
  main .wrapper__main .teams {
    margin-top: 78px; }
    main .wrapper__main .teams .team-img {
      width: 648px;
      height: 500px;
      background: url(../img/teams/aleksander-tablet.png) center center no-repeat; }
    main .wrapper__main .teams .team h3 {
      font-size: 38px;
      line-height: 46px; }
  main .clients {
    flex-direction: row;
    flex-wrap: wrap; }
    main .clients .hillel,
    main .clients .wanna-biz,
    main .clients .tapgerine,
    main .clients .look,
    main .clients .orangear,
    main .clients .adtelli,
    main .clients .clickky,
    main .clients .easing,
    main .clients .infratek,
    main .clients .park,
    main .clients .art-print,
    main .clients .card {
      width: 256px; }
    main .clients .hillel {
      padding: 36px 0; }
    main .clients .wanna-biz {
      padding: 0; }
    main .clients .tapgerine {
      padding: 38px 0; }
    main .clients .look {
      padding: 39px 0; }
    main .clients .orangear {
      padding: 38px 0; }
    main .clients .adtelli {
      padding: 61.156px 0 10px; }
    main .clients .clickky {
      display: flex;
      justify-content: center;
      padding: 29px 0 30px 0;
      background: #C71C36; }
    main .clients .easing {
      display: flex;
      justify-content: center;
      padding: 22px 0;
      background: #DCF3F9; }
    main .clients .infratek {
      display: flex;
      justify-content: center;
      padding: 30px 0;
      background: #EAEAEA; }
    main .clients .park {
      display: flex;
      justify-content: center;
      padding: 41px 0;
      background: #282240; }
    main .clients .art-print {
      display: flex;
      justify-content: center;
      padding: 37px 0;
      background: #1D4568; }
    main .clients .card {
      display: flex;
      justify-content: center;
      padding: 13px 0 12px 0;
      background: #000; }
  main .contaiter__publications .publications__items {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    main .contaiter__publications .publications__items .equity,
    main .contaiter__publications .publications__items .gdpr {
      width: 309px; }
    main .contaiter__publications .publications__items .equity__img {
      width: 309px;
      height: 199px;
      background: url(../img/publications/tablet-sd/equity.png) center center no-repeat; }
    main .contaiter__publications .publications__items .gdpr__img {
      width: 309px;
      height: 199px;
      background: url(../img/publications/tablet-sd/gdpr.png) center center no-repeat; }
    main .contaiter__publications .publications__items .millennial .millenial__img {
      width: 648px;
      background: url(../img/publications/tablet-sd/millenial.png) center center no-repeat; }
    main .contaiter__publications .publications__items .millennial .information .date::after {
      width: 584px; }
  main .contaiter__publications .publications h3 {
    margin-top: 8px;
    font-size: 38px; }

  footer {
    padding: 30px 60px; }
    footer .footer__container {
      display: flex;
      justify-content: space-between;
      flex-direction: unset;
      align-items: unset;
      margin: 0; }
      footer .footer__container .footer__address {
        flex-direction: row;
        margin-bottom: 19px; }
        footer .footer__container .footer__address p {
          margin-right: 26px;
          margin-bottom: 0; }
        footer .footer__container .footer__address a {
          padding-top: 4px; }
          footer .footer__container .footer__address a::after {
            content: '';
            position: relative;
            bottom: 9px;
            right: 15px;
            margin-right: 6px;
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #B3B3BA; }
      footer .footer__container .footer__contact {
        flex-direction: row;
        gap: 26px;
        width: 398px; }
        footer .footer__container .footer__contact .footer__telephone {
          margin-bottom: 7px; }
          footer .footer__container .footer__contact .footer__telephone::after {
            content: '';
            position: relative;
            bottom: 12px;
            right: 16px;
            margin-right: 6px;
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #B3B3BA; }
        footer .footer__container .footer__contact .footer__email {
          margin-bottom: 12px; }
    footer .footer__copyright {
      position: relative;
      right: 26px;
      margin-top: 1px; }
      footer .footer__copyright p {
        width: 276px; } }

/*# sourceMappingURL=style.css.map */
